<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button#apply').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/events?q='+document.getElementById("apply").innerHTML,
                function(data) {
                document.getElementById('apply').innerHTML=data.status
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('button#apply').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/events?q='+document.getElementById("apply").innerHTML,
                function(data) {
                document.getElementById('apply').innerHTML=data.status
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('button#apply').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/events?q='+document.getElementById("apply").innerHTML,
                function(data) {
                document.getElementById('apply').innerHTML=data.status
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('button#apply').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/events?q='+document.getElementById("apply").innerHTML,
                function(data) {
                document.getElementById('apply').innerHTML=data.status
            });
            return false;
          });
        });
</script>
<div class='container'>
    <h3>Test</h3>
    <button id="apply">Apply</button>
</div>