<form action="/search" method="get">
    <input type="text" name="projectFilepath">
    <select id="locations" name="location">
        <option value="HCM">Ho Chi Minh</option>
        <option value="HN">Ha Noi</option>
        <option value="DN">da Nang</option>
        <option value="others">Khac</option>
    </select>
    <select id="level" name="level">
        <option value="Leader">Leader</option>
        <option value="Senior">Senior</option>
        <option value="Middle">Middle</option>
        <option value="Juinor">Juinor</option>
        <option value="Fresher">Fresher</option>
    </select>
    <button name="keyword" type="submit">Search</button>
</form>